{% extends 'base.html' %}
{% block title %} {{ video.name }} - Gmooc{% endblock %}
{% block nav %}
<nav>
    <div class="nav">
        <div class="wp">
            <ul>
                <li ><a href="{% url 'index' %}">Home Page</a></li>
                <li class="active">
                    <a href="{% url 'course-list' %}">
                        Courses<img class="hot" src="/static/images/nav_hot.png">
                    </a>
                </li>
                <li >
                    <a href="">Instructors</a>
                </li>
                <li >
                    <a href="{% url 'org_list' %}">Organizations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block custom_crumbs %}
<section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="{% url 'index' %}">Home Page</a> > </li>
                <li><a href="{% url 'course-list' %}">Courses</a> > </li>
                <li><a href="{% url 'course-detail' course.id %}">Details</a> > </li>
                <li><a href="{% url 'course-info' course.id %}">Lessons</a> > </li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}

 <div id="main">
     <div style="width:1200px;height:675px; margin-left: 340px">
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="1200"
              poster="http://video-js.zencoder.com/oceans-clip.png"
              data-setup="{}">
            <source src="{{ video.url }}" type='video/mp4'>
        </video>
    </div>
    <div class="course-info-main clearfix w has-progress">

        <div class="info-bar clearfix">
        <div class="content-wrap clearfix">
            <div class="content">
                <div class="mod-tab-menu">
                    <ul class="course-menu clearfix">
                        <li><a class="ui-tabs-active active" id="learnOn"  href="{% url 'course-info' course.id %}"><span>Lesson</span></a></li>
                        <li><a id="commentOn" class="" href="{% url 'course-comment' course.id %}"><span>Comment</span></a></li>
                    </ul>
                </div>
                <div id="notice" class="clearfix">
                    <div class="l"> <strong>Announcement:</strong> <a  href="javascript:void(0)"></a> </div>
                </div>

                <div class="mod-chapters">
                    {% for lesson in course.get_lessons %}
                    <div class="chapter chapter-active" >
                        <h3>
                            <strong><i class="state-expand"></i>{{ lesson.name }}</strong>
                        </h3>
                        <ul class="video">
                            {% for video in lesson.get_videos %}
                            <li>
                                <a target="_blank" href='{{ video.url }}' class="J-media-item studyvideo">{{ video.name }} ({{ video.study_time }})
                                    <i class="study-state"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="aside r">
                <div class="bd">

                    <div class="box mb40">
                        <h4>Resources</h4>
                        <ul class="downlist">
                            {% for resource in resources %}
                            <li>
                                <span ><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;{{ resource.name }}</span>
                                <a href="/media/{{ resource.download }}" class="downcode" target="_blank" download="" data-id="274" title="">Download</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box mb40">
                        <h4>Instructor Tips</h4>
                        <div class="teacher-info">
                            <a href="teacher" target="_blank">
                                <img src='/media/{{ course.instructor.image }}' width='80' height='80' />
                            </a>
                            <span class="tit">
                              <a href="teacher" target="_blank">{{ course.instructor.name }}</a>
                            </span>
                            <span class="job">{{ course.instructor.position }}</span>
                        </div>
                        <div class="course-info-tip">
                            <dl class="first">
                                <dt>Requisite</dt>
                                <dd class="autowrap">{{ course.requisite }}</dd>
                            </dl>
                            <dl>
                                <dt>You'll learn</dt>
                                <dd class="autowrap">{{ course.objective }}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="cp-other-learned  js-comp-tabs">
                        <div class="cp-header clearfix">
                            <h2 class="cp-tit l">Classmates also had</h2>
                        </div>
                        <div class="cp-body">
                            <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="course" style="display: block">
                                <!-- img 200 x 112 -->
                                <ul class="other-list">
                                    {% for course in related_courses %}
                                    <li class="curr">
                                        <a href="{% url 'course-detail' course.id %}" target="_blank">
                                            <img src="/media/{{ course.image }}" alt="">
                                            <span class="name autowrap">{{ course.name }}</span>
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>    </div>
        </div>
        <div class="clear"></div>

    </div>

    </div>
</div>
{% endblock %}



{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/muke/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/muke/common-less.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/muke/course/learn-less.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/mooc.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/muke/course/common-less.css">
    <link rel="stylesheet" type="text/css" href="/static/css/video-js.min.css">
    <style>
        .video-js .vjs-big-play-button{
            top: 50%;
            left: 50%;
        }
    </style>
{% endblock %}

{% block custom_js %}
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/video.min.js" type="text/javascript"></script>
{% endblock %}