{% extends 'base.html' %}
{% block title %} Instructors - GMooc {% endblock %}
{% block custom_crumbs %}
<section>
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="{% url 'index' %}">Home Page</a> > </li>
            <li>Instructors</li>
        </ul>
    </div>
</section>
{% endblock %}

{% block nav %}
<nav>
    <div class="nav">
        <div class="wp">
            <ul>
                <li ><a href="{% url 'index' %}">Home Page</a></li>
                <li >
                    <a href="{% url 'course-list' %}">
                        Courses<img class="hot" src="/static/images/nav_hot.png">
                    </a>
                </li>
                <li class="active" >
                    <a href="">Instructors</a>
                </li>
                <li >
                    <a href="{% url 'org_list' %}">Organizations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<section>
    <div class="wp butler_list_box list">
    <div class='left'>
        <div class="butler_list layout">
            <div class="head">
                <ul class="fl tab_header">
                    <li class="active"><a href="?sort=">All</a> </li>
                </ul>
                <div class="fr butler-num">Total:<span class="key">{{ instr_count }}</span>&nbsp;&nbsp;&nbsp;</div>
            </div>

                {% for instructor in all_instructors.object_list %}
                <dl class="des">
                    <dt>
                        <a href="{% url 'instr-detail' instructor.id %}">
                            <div class="picpic">
                                <img width="100" height="100" class="scrollLoading" src="/media/{{ instructor.image }}"/>
                            </div>
                        </a>
                    </dt>
                    <dd>
                        <a href="{% url 'instr-detail' instructor.id %}">
                            <h1>{{ instructor.name }}<span class="key picbig">Verified Instructors</span></h1>
                        </a>
                        <ul class="cont">
                            <li>Working years:<span>{{ instructor.work_year }}</span></li>
                            <li>Position:<span>{{ instructor.position }}</span></li>
                            <li>Company:<span>{{ instructor.company }}</span></li>
                            <li>Feature: <span>{{ instructor.feature }}</span></li>
                        </ul>
                    </dd>
                    <a class="buy buyservice" href="{% url 'instr-detail' instructor.id %}"><br/>More<br/>details</a>
                </dl>
                {% endfor %}


        </div>
        <div class="pageturn">
            <ul class="pagelist">
                    {% if all_instructors.has_previous %}
                        <li class="long"><a href="?{{ all_instructors.previous_page_number.querystring }}">Prev</a></li>
                    {% endif %}

                    {% for page in all_instructors.pages %}
                        {% if page %}
                            {% ifequal page all_instructors.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if all_instructors.has_next %}
                        <li class="long"><a href="?{{ all_instructors.next_page_number.querystring }}">Next</a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
    <div class="right layout">
        <div class="head">Rankings</div>
            {% for instructor in ranked_instructors %}
            <dl class="des">
                <span class="num fl">{{ forloop.counter }}</span>
                <a href="{% url 'instr-detail' instructor.id %}">
                    <dt>
                        <img width="50" height="50" class="scrollLoading"  src="/media/{{ instructor.image }}"/>
                    </dt>
                </a>
                <dd>
                    <a href="{% url 'instr-detail' instructor.id %}">
                        <h1>{{ instructor.name }}</h1>
                    </a>
                    <p>Years:<span>{{ instructor.work_year }}</span></p>
                </dd>
            </dl>
            {% endfor %}

    </div>
    </div>
</section>
{% endblock %}