{% extends 'org-detial-base.html' %}
{% block title %}{{ course_org.name }}{% endblock %}
{% block page_path %}Homepage{% endblock %}
{% block right %}
    <div class="right companycenter layout grouping" >
        <div class="head">
            <h1>Courses</h1>
            <a class="green fr more" href="org-detail-course.html">More>  </a>
        </div>
        <div class="brief group_list">
            {% for course in all_courses %}
                <div class="module1_5 box">
                    <a href="course-detail.html"><img width="214" src="/media/{{ course.image }}"/></a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                        <span class="fl">Hours:<i class="key">{{ course.study_time }}</i></span>
                        <span class="fr">Students: {{ course.student_num }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.course_org.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            {{ course.favor_num }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="right companycenter layout" >
        <div class="head">
            <h1>Instructors</h1>
            <a class="green fr more" href="org-detail-instructors.html">More >  </a>
        </div>
        {% for instructor in all_instructors %}
        <div class="diarys">
            <div class="module5 share company-diary-box" style="padding:10px 0;">
                <div class="left">
                    <img class="pic" src="/media/{{ instructor.image }}"/>
                    <p>{{ instructor.name }}</p>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="fl">
                            <a href=""><h1>java开发教程</h1></a>
                            <span>发表于：2015-10-12</span>
                        </div>
                    </div>
                    <div class="middle" style="border-bottom:0;">课程介绍</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="right companycenter layout" >
    <div class="head">
        <h1>Description</h1>
        <a class="green fr more" href="org-detail-desc.html">More  >  </a>
    </div>
    <div class="cont">&nbsp; &nbsp; <p>{{ course_org.desc }}</p></div>
    </div>
{% endblock %}



